
main{
    display: grid;
    grid-template-columns: 300px 1fr   ;
    grid-template-rows:  65px 1fr;
    grid-template-areas: 
    "a b "
    "a c ";

}

.productos.marco{
    padding: 20px;
    margin: 0px 25px;
    margin-bottom: 25px;
    border: 1px black solid;
    
}

.productos .encabezado{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.productos .encabezado > button {
    border: 2px #b7ffc8 solid;
    border-radius: 15px;
    padding: 17px 50px;
    background-color: #28a745;
    color: white;
}

.productos .filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos .filtros > .fila-1,
.productos .filtros > .fila-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.productos .filtros > .fila-3 {
    padding: 25px 0px;
    padding-left: 80%;
}

.productos .filtros > .fila-3 > button {
    border: 2px #abe6ff solid;
    border-radius: 25px;
    padding: 9px 35px;
    background-color: #7acbee;
    color: white;
}
.productos .container-table {
    height: 50%;
    overflow-y: scroll;
    border: double;
    background-color: gray;}

.productos table,
.productos td,
.productos th {
    border: 1px solid;
}



.productos table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: white;
}

.productos-accion.marco {
    padding: 50px 25px 25px 25px;
    margin: 34px;
    border: 1px black solid;
}

.productos-accion .fila-1 > h1 {
    margin: 0px 0px;
}

.productos-accion .fila-1 {
    background-color: #f9f9f9;
    padding: 10px 53px;
}

.productos-accion .fila-2 {
    display: flex;
    padding: 10px 25px;
    flex-wrap: wrap;
}

.productos-accion .fila-2 > label {
    margin: 10px 10px;
    max-width: 180px;
}

.productos-accion .fila-2 > :last-child {
    max-width: 350px;
}

.productos-accion .fila-2 > label input[type="text"] {
    max-width: 150px;
}

.productos-accion .fila-3 {
    padding: 0px 25px 25px 30px;
}

.productos-accion .fila-3 > button {
    padding: 12px 40px;
    border-radius: 10px;
    background-color: #28a745;
    border: 1px #3ef768 solid;
    color: white;
}