
.navbar{
    display: flex;
   flex-direction: column;
   height: 100vh;
   grid-area: a;
  }
  .navbar .container{
   background-color:#16A085 ;
   color: white;
   letter-spacing: 1px;
   text-align: center;
   font-size: 15px;

  }
  .navbar .container-Second{
    background-color: #2A3542;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow:hidden;
   
  }
  .navbar .container-Second ul{
   list-style: none;
   overflow:hidden;
   width: 100%;
 
  }
  .navbar .container-Second ul li {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    gap: 7px;
   transition: all .1s ease-in-out;
   flex: none;

  }
  .navbar .container-Second ul li  i {
   color: white;
  }
  .navbar .container-Second > ul > li:hover {
   transform: scale(1.02);
   -webkit-transform: scale(1.02);
   -moz-transform: scale(1.02);
   -ms-transform: scale(1.02);
   -o-transform: scale(1.02);
}
  .navbar .container-Second ul li a{
   color: white;
   font-size: 17px;
    text-decoration: none;
    display: block;
  }
  .navbar .container-Second .botonCerrar{
    background-color: #16A085;
    width: 100%;
    padding: 20px 0px;
  }
  .navbar .container-Second .botonCerrar a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  }
  .navbar .container-Second .botonCerrar i {
   color: white;
  padding-left: 14px;

  }

li#navbar-inventario 
li#navbar-usuarios{
  height: 17px;
  align-items: normal;
  color:white;
  overflow: hidden;
  transition: height .5s ease;
}
li#navbar-inventario:hover,
li#navbar-usuarios:hover {
  height: 186px;    
}

li#navbar-inventario > ul,
li#navbar-usuarios > ul{
  padding:0px;
}

li#navbar-inventario > ul :first-child,
li#navbar-usuarios > ul :first-child{
  padding:0px 0px 15px 0px;
  cursor:default;
}

li#navbar-inventario > ul > li,
li#navbar-usuarios > ul > li {
  display:block;
}

li#navbar-inventario > ul > li:hover:not(:first-child),
li#navbar-usuarios > ul > li:hover:not(:first-child)  {
  background: #5e7694;
  padding-left:7px;
  cursor:pointer;
}